@model Pryanichek_version_1000.Models.Person

@{
    ViewData["Title"] = "Страничка владельца";
    Layout = "~/Views/Shared/_New_Layout2.cshtml";
}
<html>
<head>
    @*<script type="text/javascript">
        window.PopStateEvent = history.go(1);
    </script>*@
</head>
<body>
    <div>
    </div>
    <aside>
        <div class="widget">
            <h3 class="widget-title">Быстрый поиск</h3>
            <ul class="widget-list">
                <li><a href="/Owner/Prodazi">Сумма продаж во всех пекарнях</a></li>
                <li><a href="/Owner/Information">Информация о пекарне</a></li>
            </ul>
        </div>
    </aside>
    <section>
        <div style="background-color:white">
            <table>
                <tr>
                    <td>Имя</td>
                    <td>Дата рождения</td>
                    <td>Пол</td>
                    <td>Номер телефона</td>
                    <td>Должность</td>
                    <td>Зарплата (грн)</td>
                    <td>Статус</td>
                    <td></td>
                </tr>


                @foreach (var i in TempData["Workers"] as List<Person>)
                {
                    <form action="/Owner/ChangeStaff" method="post">
                        <tr>
                            <td>@i.Name</td>
                            <td>@i.DateOfBirth</td>
                            <td>@i.Sex</td>
                            <td>@i.TelNo</td>
                            <td>@i.PositionName</td>
                            <td>@i.Salary</td>
                            <td>@i.IsFired</td>
                            <td>
                                <input type="hidden" name="StaffNo" value="@i.StaffNo" />
                                <button type="submit" class="btn btn-secondary">Изменить</button>

                            </td>
                        </tr>
                        </form>
                        }
                </table>
        </div>
    </section>
    </body>
</html>
